* {
    box-sizing: border-box;
    font-size: 0.8vw;
}

#gsrchbody, #imgsrchbody {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: end;
    column-gap: 10px;
}

.header a {
    color: black;
    text-decoration: none;
    margin: 10px 5px;
}

.header a:hover {
    text-decoration: underline;
}

.google_img {
    height: 50%;
    width: 100%;
    padding-top: 13%;
}

.imagecontainer {
    height: 92px;
    width: 272px;
}

.formsub {
    width: 560px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    border: 1px solid #e0dede;
    border-radius: 50px;
    height: 41px;
    margin: 20px;
    padding: 0px 8px 0px 14px;
    align-items: center;
    justify-content: space-between;
}

.searchbar:hover {
    box-shadow: 0 0 0 1px rgb(206, 203, 203),
    0 0 0 1px rgb(194, 192, 192),
    0 0 0 1px rgb(211, 208, 208),
    0 0 0 3px rgb(240, 237, 237);
    border: none;
}

.searchbar input {
    border: hidden;
    width: 90%;
}

.searchbar input:focus {
    outline: none;
}

.subbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 25px;
    padding-top: 5px;
}

.subbutton input {
    height: 36px;
    border: none;
    text-align: center;
    font-weight: 200px;
    color: rgb(66, 66, 66);
    background-color: white;
}

.subbutton input:hover {
    box-shadow: 0 0 0 1px rgb(206, 203, 203),
    0 0 0 1px rgb(194, 192, 192);
    background-color: #F8F9FA;
    border: none;
    border-radius: 5px;
}

@media (orientation: portrait) {
    * {
     font-size: 2vw;
    }

   .formsub {
    margin: 0px 2vw 0px 2vw;
    width: auto;
   }

   .searchbar{
    height: calc(41px - 1vh);
   }

   .imagecontainer { 
    width: 30vw;
    height: 10vw;
   }

   .subbutton input {
    height: 4vw;
    width: auto;
   }
}

/* extra css for image search option */
.image-text {
    position: relative;
    left: 39%;
    bottom: 25%;
    font-family: roboto-regular, Arial, sans-serif;
    color: #4285f4;
}

/* css for advanced search */
.page-bar {
    margin: 25px 35px;
    font-size: 20px;
    color: #d93025;
}

#tagline {
    margin: 25px 0px;
}

#mainsection { 
    margin: 25px 45px;
}

#maincontainer {
    display: flex;
    flex-direction: column;
}

.inputlabel {
    float: left;
    height: 42px;
    width: 167px;
}

.inputlabel label {
    font-size: 13px;
}

.inputtext {
    float: left;
}

#submitbtn {
    width: 303px;
    background-color: orange;
}

#submitbtn input {
    float: right;
}